body {
  font-family: Inter, system-ui, sans-serif;
  margin: 0;
  background: #eef2f7;
}
.sidebar {
  width: 250px;
  background: #111827;
  padding: 16px;
  border-radius: 8px;
  color: white;
}
.sidebar-container {
  padding: 8px;
  border-radius: 8px;
}
.sidebar-item {
  background: #1f2937;
  margin-bottom: 8px;
  border-radius: 6px;
}
.canvas {
  flex: 1;
}
.canvas-container {
  border-radius: 0px;
}

.swiper-button-prev,
.swiper-button-next {
  z-index: 999999 !important;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #989797;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: #dbdbdb;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
